:root {
	--primary-color: #1f93ff;
	--secondary-color: #84049e;
	--third-color: #ffacac;
	--fourth-color: #5cc989;
	--fifth-color: #018686;
	--sixth-color: #ffffff;
	--seventh-color: #bd0350;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ---------------------------- Cointainer -----------------------------*/
.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	background: linear-gradient(
		rgba(199, 129, 164, 0.5),
		rgba(194, 208, 255, 0.678)
	);
}
@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}
}
/* ---------------------------- End OF Cointainer -----------------------------*/

/* ---------------------------- End OF Background Image -----------------------------*/
.background-img {
	width: 35vw;
	height: 100vh;
}
.background-img img {
	width: 100%;
	height: 100%;
}
@media (max-width: 768px) {
	.background-img {
		width: 100%;
	}
}
/* ---------------------------- End OF Background Image -----------------------------*/

/* ---------------------------- Seat Layout -----------------------------*/
.seat-layout {
	width: 35vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.exterior {
	width: 15rem;
	height: 85vh;
	align-items: center;
	margin: 3.5rem auto;
}
.interior {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
	grid-column-gap: 0.3rem;
	grid-row-gap: 0.3rem;
}
.seat {
	width: 3rem;
	height: 3rem;
	background: var(--sixth-color);
	font-size: 1rem;
	color: var(--secondary-color);
	font-weight: 700;
	border: 3px solid var(--fifth-color);
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	transition: all 0.3s linear;
}
.seat:hover {
	background: var(--secondary-color);
	color: var(--sixth-color);
}
.seat-booked {
	background: var(--third-color);
	color: var(--secondary-color);
}
.seat-booked:hover {
	background: var(--third-color);
	color: var(--secondary-color);
}
.user-seat {
	background: var(--fourth-color);
	color: var(--sixth-color);
}
.user-seat:hover {
	background: var(--fourth-color);
}
@media (max-width: 768px) {
	.seat-layout {
		width: 100vw;
		height: 90vh;
	}
}
/* ---------------------------- End OF Seat Layout -----------------------------*/

/* ---------------------------- Bus Info -----------------------------*/
.info {
	width: 25vw;
}
.info h2 {
	font-size: 1.2rem;
	font-weight: 600;
	color: var(--seventh-color);
}
@media (max-width: 768px) {
	.info {
		width: 100vw;
		margin-bottom: 3rem;
	}
}
/* ---------------------------- End OF Bus Info -----------------------------*/

/* ---------------------------- Infobar -----------------------------*/
.infobar {
	text-align: center;
	font-size: 1rem;
	margin: 3.5rem auto 0;
}
.show-message {
	font-size: 1rem;
	font-weight: 500;
	margin: 0.5rem auto 0;
	padding: 0.3rem 0;
	width: 13rem;
	height: 2rem;
	color: var(--sixth-color);
	background: var(--seventh-color);
	border-radius: 0.7rem;
	visibility: hidden;
}
.active {
	visibility: visible;
}
@media (max-width: 768px) {
	.infobar {
		margin-top: 0;
	}
}
/* ---------------------------- End OF Infobar -----------------------------*/

/* ---------------------------- Bus font -----------------------------*/
.bus-font {
	width: 13rem;
	height: 7rem;
	margin: 0 auto 0.5rem;
	font-size: 5rem;
	text-align: center;
	color: var(--secondary-color);
}
/* ---------------------------- End OF Bus font -----------------------------*/

/* ---------------------------- Infopay -----------------------------*/
.infopay {
	font-size: 1rem;
	text-align: center;
}
.checkout {
	margin-top: 0.5rem;
	cursor: pointer;
	border: none;
	text-decoration: none;
	background: var(--secondary-color);
	color: var(--sixth-color);
	font-size: 1rem;
	font-weight: 600;
	padding: 0.15rem 0.6rem;
	border: 1.5px solid var(--secondary-color);
	border-radius: 0.7rem;
	transition: all 0.3s linear;
}
.checkout:hover {
	background: var(--sixth-color);
	color: var(--seventh-color);
}
.ticket-list {
	width: 10rem;
	margin: 0.5rem auto;
}
.ticket-row {
	display: flex;
	justify-content: space-between;
	padding: 0 1.5rem;
	margin-bottom: 0.5rem;
}
.btn-remove {
	cursor: pointer;
	border: none;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	background: none;
	color: var(--seventh-color);
	transition: all 0.3s linear;
}
.btn-remove:hover {
	color: var(--fifth-color);
}
/* ---------------------------- End OF Infopay -----------------------------*/
